<div>

  <!--div tag uses jumbotron class and jumbotron class is defined in css-->
  <div class="jumbotron">
    <!--mat-toolbar tag is used to display the title of application i.e. Leave Tracker with logo of Atos -->
    <mat-toolbar color="primary" class="size">
      <!--img tag is used for Atos Logo-->
      <img class="image" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>
    </mat-toolbar>
  </div>

  <!--mat-card tag(all the field's, button's and anchor tag's are inserted)-->
  <mat-card class="card">
    <!--img tag is used for Login Logo-->
    <img class="imagel" src="./assets/login.png">

    <!--form tag is used for Employee Login with DasId and Password-->
    <form>

      <!--mat-form-field tag is used for DasId field-->
      <mat-form-field class="field" autocomplete="off" appearance="fill">
        <mat-label>DAS ID</mat-label>
        <mat-icon matSuffix>account_circle</mat-icon>
        <input type="text" name="dasId" minlength="7" maxlength="7" pattern="[A][0-9]{6}" [(ngModel)]="user.dasId"
          #dasId="ngModel" matInput>
        <mat-error>
          <div *ngIf="dasId.invalid && (dasId.dirty || dasId.touched)" class="alert">

            <div *ngIf="dasId.errors?.required">
              DAS ID is required.
            </div>
            <div *ngIf="dasId.errors?.minlength || dasId.errors?.pattern">
              DAS ID must start with 'A' and must be at least 7 characters long.
            </div>
          </div>
        </mat-error>
      </mat-form-field>

      <!--mat-form-field tag is used for Password field-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput name="password" [(ngModel)]="user.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!--button tag is used for Login and Reset-->
      <button (click)="login()" mat-raised-button class="login" color="primary">Login</button>
      <button mat-raised-button (click)="reset()" class="reset" color="warn"> Reset</button><br><br>

      <mat-divider [inset]="true"></mat-divider><br><br>
      <mat-label class="forgot">Don't have an Account?</mat-label>
      <mat-label class="forgot">Forgot Password?</mat-label><br>

      <!--anchor tag is used for redirect to SignUp and Forgot Password Page-->
      <a class="color" routerLink="/signup"> Register Now!</a>
      <a class="colorfp" routerLink="/forgotpassword">Click Here!</a><br><br>

    </form>

  </mat-card>
  <!--After clicking on Submmit till it redirect's to Sign In page, Spinner will be actiavted-->
  <mat-spinner [diameter]="100" class="loader" *ngIf="showSpinner" color="primary"></mat-spinner>
</div>