<html lang="en" class="main">
<div>
  <!--body tag uses jumbotron class and jumbotron class is defined in css-->

  <body class="jumbotron">
    <!--mat-toolbar tag is used to display the title of application i.e. Leave Tracker with logo of Atos, Home icon and Menu -->
    <mat-toolbar color="primary" class="size">
      <!--img tag is used for Atos Logo-->
      <img class="imagenav" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>
      <!--button tag is used for redirect to Home Page-->
      <button mat-icon-button class="home" routerLink="/list">
        <mat-icon>home</mat-icon>
      </button>
      <!--button tag is used to trigger menu-->
      <button class="right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!--mat-menu tag is used to display 5 field's i.e. Apply Leave, Change Password, Export Leave Details, Edit Profile and Logout-->
      <mat-menu class="contact" #menu="matMenu">
        <!--button tag is used to redirect to Apply Leave Page-->
        <button mat-menu-item routerLink="/applyleave">
          <mat-icon>AL</mat-icon>
          <span>Apply Leave</span>
        </button>
        <!--button tag is used to redirect to Change Password Page-->
        <button mat-menu-item routerLink="/changePassword">
          <mat-icon>lock</mat-icon>
          <span>Change Password</span>
        </button>
        <!--button tag is used to redirect to Export Leave Details Page only if the user is Admin-->
        <button mat-menu-item routerLink="/export">
          <mat-icon>download</mat-icon>
          <span>Export Leave Details</span>
        </button>
        <!--button tag is used to redirect to Edit Profile Page-->
        <button mat-menu-item routerLink="/editprofile">
          <mat-icon>account_circle</mat-icon>
          <span>Edit Profile</span>
        </button>
        <!--button tag is used to redirect to Edit Profile Page-->
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar>
  </body><br><br><br>
  <span class="details">Activate / Deactivate Employee</span>
  <!--form tag is used for Changing Password of Employee with 3 Field's-->
  <form autocomplete="off">
    <!--mat-card tag(all the field's, button are inserted)-->
    <mat-card class="card">
      <!--img tag is used for Deactivate and Activate Logo-->
      <img class="imagel" src="./assets/deactivate1.png">

      <!--mat-form-field tag is used for DasId field-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>Das ID</mat-label>
        <input matInput minlength="7" maxlength="7" name="dasId" pattern="[A][0-9]{6}" [(ngModel)]="user.dasId"
          #dasId="ngModel" required>
        <mat-error>
          <div *ngIf="dasId.invalid && (dasId.dirty || dasId.touched)" class="alert">
            <div *ngIf="dasId.errors?.required">
              DAS ID is required.
            </div>
            <div *ngIf="dasId.errors?.minlength || dasId.errors?.pattern">
              DAS ID must start with 'A' and must be at least 7 characters long.
            </div>
          </div>
        </mat-error>
      </mat-form-field> <br>

      <!--button tag is used for Deactivate and Activate-->
      <button class="buttond" type="deactivate" (click)="deactivate()" mat-raised-button color="warn">
        Deactivate</button>
      <button class="buttona" type="activate" (click)="activate()" mat-raised-button color="green"> Activate</button>
    </mat-card>

  </form>
</div>

</html>