<html lang="en" class="main">
<div>
  <body class="jumbotron">
  <mat-toolbar color="primary" class="size">
    <img class="imagenav" src="./assets/logo.png">
    <span class="spacer">Leave Tracker</span>
    <button class="home" mat-menu-item routerLink="/list">
      <mat-icon style="color: white;">home</mat-icon>
    </button>
    <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="contact" #menu="matMenu">
        <button mat-menu-item routerLink="">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    
  </mat-toolbar>
</body>

<mat-card class="card" >

    <img class="image" style="width: 110px; margin-left: 40%; margin-bottom: 20px;" src="./assets/changePlogo.png">
    
    <mat-form-field class="field" appearance="fill">
      <mat-label>DAS ID</mat-label>
      <input matInput name="EmpID" [(ngModel)]="emp.empid" readonly>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label>Enter Old Password</mat-label>
      <input matInput type="password"  name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel" required>
    </mat-form-field>

    
    <mat-form-field class="field" appearance="fill">
      <mat-label>Enter New Password</mat-label>
      <input matInput type="password" pattern="^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,10}$" minlength="8" maxlength="10" 
      name="newPassword" [(ngModel)]="user.newPassword" #newPassword="ngModel" required>
      <mat-error>
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert">

          <div *ngIf="newPassword.errors?.required">
            newPassword is required.
          </div>

          <div *ngIf="newPassword.errors?.pattern">
            Password must contain at least 1 Uppercase,
            At least 1 Lowercase,
            At least 1 Number,
            At least 1 special character, Min 8 characters and Max 10 characters
          </div>
        
        </div>
      </mat-error>

    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" minlength="8" maxlength="10" name="cpassword"   [(ngModel)]="user.cpassword" #cpassword="ngModel" 
      required>
      

      <mat-error>
        <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)" class="alert">

            <div *ngIf="cpassword.errors?.required">
              Confirm Password is required.
            </div>

          </div>
        </mat-error>

    </mat-form-field>



    <button class="button" (click)="changePassword()" mat-raised-button color="primary">
        Change
    </button>

</mat-card>
</div>
</html>
