<html lang="en" class="main">
<div>

  <!--body tag uses jumbotron class and jumbotron class is defined in css-->
  <body class="jumbotron">
    <!--mat-toolbar tag is used to display the title of application i.e. Leave Tracker with logo of Atos, Home icon and Menu -->
    <mat-toolbar color="primary" class="size">
      <!--img tag is used for Atos Logo-->
      <img class="imagenav" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>
       
      <!--button tag is used for redirect to Home Page-->
      <button mat-icon-button class="home"  routerLink="/list">
        <mat-icon>home</mat-icon>
      </button>
      <!--button tag is used to trigger menu-->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!--mat-menu tag is used to display 5 field's i.e. Apply Leave, Activate/Deactivate, Export Leave Details, Edit Profile and Logout-->
      <mat-menu class="contact" #menu="matMenu">
        <!--button tag is used to redirect to Apply Leave Page-->
        <button mat-menu-item routerLink="/applyleave">
          <mat-icon>AL</mat-icon>
          <span>Apply Leave</span>
        </button>
        <!--button tag is used to redirect to Activate/Deactivate Page only if the user is Admin-->
        <button *ngIf="isAdmin" mat-menu-item routerLink="/deactivate">
          <mat-icon>autorenew</mat-icon>
          <span>Activate / Deactivate</span>
        </button>
        <!--button tag is used to redirect to Export Leave Details Page only if the user is Admin-->
        <button *ngIf="isAdmin" mat-menu-item routerLink="/export">
          <mat-icon>download</mat-icon>
          <span>Export Leave Details</span>
        </button>
        <!--button tag is used to redirect to Edit Profile Page-->
        <button mat-menu-item routerLink="/editprofile">
          <mat-icon>account_circle</mat-icon>
          <span>Edit Profile</span>
        </button>
       <!--button tag is used to redirect to Sign In Page-->
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar>
  </body><br><br><br>
  <span class="details">Change Password</span>

  <!--form tag is used for Changing Password of Employee with 3 Field's-->
  <form>
    <!--mat-card tag(all the field's, button are inserted)-->
    <mat-card class="card">
      <!--img tag is used for Change Password Logo-->
      <img class="imagel" src="./assets/changePlogo.png">

      <!--mat-form-field tag is used for DasId field which is in readonly mode-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>DAS ID</mat-label>
        <input matInput name="EmpID" [(ngModel)]="emp.empid" readonly>
      </mat-form-field>

      <!--mat-form-field tag is used for Entering the Old Password-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>Enter Old Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput name="oldPassword" [(ngModel)]="user.oldPassword"
          #oldPassword="ngModel" minlength="8" maxlength="12" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
            <div *ngIf="oldPassword.errors?.required">
              old Password is required.
            </div>
          </div>
        </mat-error>
      </mat-form-field>

      <!--mat-form-field tag is used for Entering the New Password-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>Enter New Password</mat-label>
        <input [type]="hideNew ? 'password' : 'text'" matInput
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#/\$%\^\&*_=+-])[a-zA-Z0-9!@#/\$%\^\&*_=+-]+$"
          minlength="8" maxlength="12" name="newPassword" [(ngModel)]="user.newPassword" #newPassword="ngModel"
          required>
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'HideNew password'"
          [attr.aria-pressed]="hideNew">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">

            <div *ngIf="newPassword.errors?.required">
              newPassword is required.
            </div>

            <div *ngIf="newPassword.errors?.pattern">
              Password must contain at least 1 Uppercase,
              At least 1 Lowercase,
              At least 1 Number,
              At least 1 special character, Min 8 characters and Max 12 characters
            </div>

          </div>
        </mat-error>

      </mat-form-field>

      <!--mat-form-field tag is used for Entering the Confirm New Password-->
      <mat-form-field class="field" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" minlength="8" maxlength="12" name="cpassword"
          [(ngModel)]="user.cpassword" #cpassword="ngModel" required>
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'HideConfirm password'"
          [attr.aria-pressed]="hideConfirm">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
            <div *ngIf="cpassword.errors?.required">
              Confirm Password is required.
            </div>
          </div>
        </mat-error>
      </mat-form-field>

      <!--button tag is used to Change the Password and Redirect to Sign In Page-->
      <button class="button" (click)="changePassword()" mat-raised-button color="primary">
        Update
      </button>

    </mat-card>
  </form>
</div>

</html>