<body class="jumbotron">

  <mat-toolbar color="primary" class="size">


    <img class="imagenav" src="./assets/logo.png">
    <span class="spacer">Leave Tracker</span>


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="contact" #menu="matMenu">
      <button mat-menu-item routerLink="/changePassword">
        <mat-icon>lock</mat-icon>
        <span>Change Password</span>
      </button>
      <button mat-menu-item routerLink="/applyleave">
        <mat-icon>AL</mat-icon>
        <span>Apply Leave</span>
      </button>
      <button mat-menu-item routerLink="">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>
</body><br><br>
<div>
  <span style="margin-left:43% ;   font-size : 25px ; font-weight: 200 ">Employee Details</span><br>

  <mat-form-field class="field">
    <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Search by Name and Das Id">
  </mat-form-field>

  <table style=" width: 98%;" mat-table [dataSource]="data" matSort class="mat-elevation-z8 demo-table">

    <!-- <ng-container matColumnDef="employeeId">
            <th class="th" mat-header-cell *matHeaderCellDef> Employee ID </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
          </ng-container> -->

    <ng-container matColumnDef="dasId">
      <th class="th" mat-header-cell *matHeaderCellDef mat-sort-header> Das Id</th>
      <td mat-cell *matCellDef="let element"> {{element.dasId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="th" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="gcmLevel">
      <th class="th" mat-header-cell *matHeaderCellDef mat-sort-header> GCM Level </th>
      <td mat-cell *matCellDef="let element"> {{element.gcmLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th class="th" mat-header-cell *matHeaderCellDef> Contact No. </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="emailId">
      <th class="th" mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
    </ng-container>

    <ng-container matColumnDef="reportingManager">
      <th class="th" mat-header-cell *matHeaderCellDef> Job Role </th>
      <td mat-cell *matCellDef="let element"> {{element.reportingManager}} </td>
    </ng-container>

    <ng-container matColumnDef="domain">
      <th class="th" mat-header-cell *matHeaderCellDef> Reporting Manager </th>
      <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <th class="th" mat-header-cell *matHeaderCellDef> Project Name </th>
      <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
    </ng-container>

    <ng-container matColumnDef="jobRole">
      <th class="th" mat-header-cell *matHeaderCellDef> Domain </th>
      <td mat-cell *matCellDef="let element"> {{element.jobRole}} </td>
    </ng-container>


    <!-- <ng-container matColumnDef="view">
      <th class="th" mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let element">
        <button [routerLink]="['/view',element.dasId]" mat-raised-button style="  height: 35px; width: 20px;" color="warn">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="view">
      <th class="th" mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="viewLeave(element.dasId)" mat-raised-button style="  height: 35px; width: 20px;"
          color="warn">
          <mat-icon> visibility </mat-icon> &nbsp;&nbsp;
       </button>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator 
           
              [pageSizeOptions]="[5,10,15]"
              showFirstLastButtons
              aria-label="Select page">
</mat-paginator> 
 
</div>