<html lang="en" class="main">
<div>

  <body class="jumbotron">

    <mat-toolbar color="primary" class="size">

      <img class="image" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>


    </mat-toolbar>

    <router-outlet></router-outlet>
  </body>

<mat-card class="card">
  <img class="imagef" src="./assets/forgotlogo.png">
  <mat-stepper [linear]="isLinear" #stepper>
    
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <p *ngIf="redirectflag" class="sucess">
          Invalid Employee Id Redirecting to SignUp Page
        </p>
        <ng-template matStepLabel>Enter Das Id</ng-template>
        
        <mat-form-field class="fieldd">
          
          <input type="text" matInput placeholder="Enter DAS ID" name="dasId"
          formControlName="firstCtrl" minlength="7" maxlength="7"pattern="[A0-9]{7}$" required >
          <mat-error 
          *ngIf="(form1.firstCtrl.invalid && form1.firstCtrl.errors?.required) && 
          (form1.firstCtrl.dirty || form1.firstCtrl.touched )">

            Das Id Required
           </mat-error>
           
           <mat-error class="alertext" 
           *ngIf="form1.firstCtrl.invalid && form1.firstCtrl.errors?.minlength">

           Das Id must start with 'A' and contain 7 characters
            </mat-error>

        </mat-form-field>
        <div><br><br>
          <button  mat-raised-button  color="primary" (click)="getdasId(stepper)" [disabled]="!firstFormGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Enter Secret Key">
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="fields">
          <mat-label>Enter Secret Key</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Enter Secret Key" name="secretKey"
                maxlength="5"  required >
                 <mat-error 
                 *ngIf="(form2.secondCtrl.invalid && form2.secondCtrl.errors?.required) && 
                 (form2.secondCtrl.dirty || form2.secondCtrl.touched )">
   
                   Please Enter Key
                  </mat-error>
                  <mat-error class="alertext" 
                    *ngIf="form2.secondCtrl.invalid && form2.secondCtrl.errors?.minlength">
  
                 Key must contain 5 digits
                </mat-error>
                  
        </mat-form-field>
        <div><br><br>
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button style="margin-left: 300px;" (click)="validateKey()" mat-raised-button  color="primary" [disabled]="!secondFormGroup.valid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Update Password">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field class="fieldp">
          <mat-label>Enter new Password</mat-label>
          <input matInput type="password" formControlName="thirdCtrl" placeholder="Enter new Password" name="user.password" 
              minlength="8"  maxlength="10" required >
                 <mat-error 
                 *ngIf="(form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.required) && 
                 (form3.thirdCtrl.dirty || form3.thirdCtrl.touched )">
   
                 Password is required.
                  </mat-error>
                  <mat-error class="alertext" 
                    *ngIf="form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.pattern">
  
                    Password must contain at least 1 Uppercase,
                    At least 1 Lowercase,
                    At least 1 Number,
                    At least 1 special character, Min 8 characters and Max 10 characters.
                </mat-error>
                  
        </mat-form-field>
        <mat-form-field class="fieldp">
          <mat-label>Enter Confirm Password</mat-label>
          <input matInput type="password" formControlName="thirdCtrlcpass" placeholder="Enter Confirm Password" name="user.cpassword" 
              minlength="8"  maxlength="10" required >
                 <mat-error 
                 *ngIf="(form3.thirdCtrlcpass.invalid && form3.thirdCtrlcpass.errors?.required) && 
                 (form3.thirdCtrlcpass.dirty || form3.thirdCtrlcpass.touched )">
   
                 Password is required.
                  </mat-error>
                  <!-- <mat-error class="alertext" 
                    *ngIf="form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.pattern">
  
                    Password must contain at least 1 Uppercase,
                    At least 1 Lowercase,
                    At least 1 Number,
                    At least 1 special character, Min 8 characters and Max 10 characters.
                </mat-error> -->
                  
        </mat-form-field>
        <button style="margin-left: 650px;" mat-raised-button color="primary" (click)="updatePassword()" [disabled]="!thirdFormGroup.valid">Next</button>
      </form>

      <!-- <form [formGroup]="thirdFormGroup">
        <mat-form-field class="fieldp">
          <mat-label>Enter Confirm Password</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Enter Password" name="user.cpassword" pattern="^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,10}$"
              minlength="8"  maxlength="10" required >
                 <mat-error 
                 *ngIf="(form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.required) && 
                 (form3.thirdCtrl.dirty || form3.thirdCtrl.touched )">
   
                 Confirm Password is required.
                  </mat-error>
        </mat-form-field>
        <div><br><br>
          
          <button style="margin-left: 650px;" mat-raised-button color="primary" (click)="updatePassword()" [disabled]="!thirdFormGroup.valid">Next</button>
        </div>
      </form> -->

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p style="text-align: center;">Password Updated Successfully</p>
    </mat-step>

  </mat-stepper>

  <mat-divider [inset]="true"></mat-divider><br><br>
  <mat-label class="acc">Already have an Account?</mat-label>
  <a class="color" routerLink="/signin"> Sign in </a>
<br><br>
</mat-card>
</div>
</html>
