<html lang="en" class="main">
<div>
  <!--body tag uses jumbotron class and jumbotron class is defined in css-->

  <body class="jumbotron">
    <!--mat-toolbar tag is used to display the title of application i.e. Leave Tracker with logo of Atos -->
    <mat-toolbar color="primary" class="size">
      <!--img tag is used for Atos Logo-->
      <img class="image" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </body>

  <!--mat-card tag(all the field's, button's and anchor tag's are inserted)-->
  <mat-card class="card">
    <!--img tag is used for Forgot Password Logo-->
    <img class="imagef" src="./assets/forgotlogo.png">

    <!--mat-stepper provides a wizard-like workflow by dividing content into logical steps-->
    <mat-stepper #stepper linear>
      <!--mat-step tag is used inside mat-stepper for Das Id-->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <p *ngIf="redirectflag" class="sucess">
            Invalid Employee Id Redirecting to SignUp Page
          </p>
          <ng-template matStepLabel>Enter Das Id</ng-template>

          <!--mat-form-field tag is used for DasId field-->
          <mat-form-field class="fieldd">
            <input type="text" matInput placeholder="Enter DAS ID" name="dasId" formControlName="firstCtrl"
              minlength="7" maxlength="7" pattern="[A][0-9]{6}" required>

            <mat-error *ngIf="(form1.firstCtrl.invalid && form1.firstCtrl.errors?.required) && 
            (form1.firstCtrl.dirty || form1.firstCtrl.touched )">
              Das Id Required
            </mat-error>
            <mat-error class="alertext" *ngIf="form1.firstCtrl.invalid && form1.firstCtrl.errors?.minlength">
              Das Id must start with 'A' and contain 7 digits
            </mat-error>
            <mat-error class="alertext" *ngIf="form1.firstCtrl.invalid && form1.firstCtrl.errors?.pattern">
              Das Id must start with 'A'
            </mat-error>

          </mat-form-field>

          <!--button tag is used to move Next field-->
          <div><br><br>
            <button mat-raised-button color="primary" (click)="getdasId(stepper)"
              [disabled]="!firstFormGroup.valid">Next</button>
          </div>

        </form>
      </mat-step>

      <!--mat-step tag is used inside mat-stepper for entering Secret Key-->
      <mat-step [stepControl]="secondFormGroup" label="Enter Secret Key">
        <form [formGroup]="secondFormGroup">

          <!--mat-form-field tag is used for Secret Key field-->
          <mat-form-field class="fields">
            <mat-label>Enter Secret Key</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Enter Secret Key" name="secretKey" maxlength="5"
              required>
            <mat-error *ngIf="(form2.secondCtrl.invalid && form2.secondCtrl.errors?.required) && 
                 (form2.secondCtrl.dirty || form2.secondCtrl.touched )">
              Please Enter Key
            </mat-error>
            <mat-error class="alertext" *ngIf="form2.secondCtrl.invalid && form2.secondCtrl.errors?.minlength">
              Key must contain 5 digits
            </mat-error>

          </mat-form-field>
          <div><br><br>

            <!--button tag is used to move Next field-->
            <button class="nexts" (click)="validateKey()" mat-raised-button color="primary"
              [disabled]="!secondFormGroup.valid">Next</button>
          </div>
        </form>
      </mat-step>

      <!--mat-step tag is used inside mat-stepper for entering Secret Key-->
      <mat-step [stepControl]="thirdFormGroup" label="Update Password">
        <form [formGroup]="thirdFormGroup">

          <!--mat-form-field tag is used for Enter New Password field-->
          <mat-form-field class="fieldp">
            <mat-label>Enter new Password</mat-label>
            <input matInput type="password" formControlName="thirdCtrl" placeholder="Enter new Password"
              name="user.password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#/\$%\^\&*_=+-])[a-zA-Z0-9!@#/\$%\^\&*_=+-]+$"
              minlength="8" maxlength="12" required>
            <mat-error *ngIf="(form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.required) && 
                 (form3.thirdCtrl.dirty || form3.thirdCtrl.touched )">
              Password is required.
            </mat-error>
            <mat-error class="alertext" *ngIf="form3.thirdCtrl.invalid && form3.thirdCtrl.errors?.pattern">
              Password must contain at least 1 Uppercase,
              At least 1 Lowercase,
              At least 1 Number,
              At least 1 special character, Min 8 characters and Max 10 characters.
            </mat-error>
          </mat-form-field>

          <!--mat-form-field tag is used for Enter Confirm Password field-->
          <mat-form-field class="fieldp">
            <mat-label>Enter Confirm Password</mat-label>
            <input matInput type="password" formControlName="thirdCtrlcpass" placeholder="Enter Confirm Password"
              name="user.cpassword" minlength="8" maxlength="10" required>
            <mat-error *ngIf="(form3.thirdCtrlcpass.invalid && form3.thirdCtrlcpass.errors?.required) && 
                 (form3.thirdCtrlcpass.dirty || form3.thirdCtrlcpass.touched )">
              Password is required.
            </mat-error>
          </mat-form-field>

          <!--button tag is used to move Next field-->
          <button class="nextu" mat-raised-button color="primary" (click)="updatePassword()"
            [disabled]="!thirdFormGroup.valid">Next</button>
        </form>
      </mat-step>

      <!--mat-step tag is used to display Done message-->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p class="done">Password Updated Successfully</p>
      </mat-step>

    </mat-stepper>

    <mat-divider [inset]="true"></mat-divider><br><br>
    <mat-label class="acc">Already have an Account? </mat-label>
    <!--anchor tag is used for redirect to SignIn Page-->
    <a class="color" routerLink="/signin">Sign in </a>
    <br><br>
  </mat-card>
</div>

</html>