<html lang="en" class="main">
<div>

  <!--body tag uses jumbotron class and jumbotron class is defined in css-->

  <body class="jumbotron">

    <mat-toolbar color="primary" class="size">

      <img class="imagenav" src="./assets/logo.png">
      <span class="spacer">Leave Tracker</span>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </body>

  <!--mat-card tag(all the field's and Submit button are inserted)-->
  <mat-card class="card">
    <img class="image" src="./assets/signup.png">

    <mat-card-content>
      <!--form tag is used for Registartion of an EMployee with 10 field's-->
      <form #signUp="ngForm" autocomplete="off" (ngSubmit)="registration()" class="example-form">

        <!--mat-form-field tag is used for DasId field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Das ID</mat-label>
          <input matInput minlength="7" maxlength="7" name="dasId" pattern="[A][0-9]{6}" [(ngModel)]="user.dasId"
            #dasId="ngModel" required>

          <mat-error>
            <div *ngIf="dasId.invalid && (dasId.dirty || dasId.touched)" class="alert">

              <div *ngIf="dasId.errors?.required">
                DAS ID is required.
              </div>
              <div *ngIf="dasId.errors?.minlength || dasId.errors?.pattern">
                DAS ID must start with 'A' and must be at least 7 characters long.
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Employee Id field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Employee ID</mat-label>
          <input pattern="[0-9]{7}" minlength="7" maxlength="7" matInput name="employeeId" [(ngModel)]="user.employeeId"
            #employeeId="ngModel" required>
          <mat-error>
            <div *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)" class="alert">

              <div *ngIf="employeeId.errors?.required">
                Employee ID is required.
              </div>

              <div *ngIf="employeeId.errors?.minlength || employeeId.errors?.pattern">
                Employee ID must be at least 7 digits long.
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Name field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput name="name" [(ngModel)]="user.name" #name="ngModel" pattern="[a-zA-Z ]*" required>

          <mat-error>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

              <div *ngIf="name.errors?.required">
                Name is required.
              </div>
              <div *ngIf="name.errors?.pattern">
                Please enter valid Name
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for GCM Level field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>GCM Level</mat-label>
          <input matInput pattern="[1-9]{1}" minlength="1" maxlength="1" name="gcmLevel" [(ngModel)]="user.gcmLevel"
            #gcmLevel="ngModel" required>
          <mat-error>
            <div *ngIf="gcmLevel.invalid && (gcmLevel.dirty || gcmLevel.touched)" class="alert">

              <div *ngIf="gcmLevel.errors?.required">
                GCM Level is required.
              </div>
              <div *ngIf="gcmLevel.errors?.pattern">
                Please enter valid GCM Level
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Contact No field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label class="con">Contact No</mat-label>
          <input type="tel" ng2TelInput
            [ng2TelInputOptions]="{autoHideDialCode: false,separateDialCode:true,initialCountry: 'in'}"
            (countryChange)="onCountryChange($event)" matInput pattern="^\d{9,11}$" minlength="9" maxlength="11"
            name="mobile" [(ngModel)]="user.mobile" #mobile="ngModel" required>
          <mat-error>
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert">
              <div *ngIf="mobile.errors?.required ">
                Mobile no. is required.
              </div>
            </div>
            <div *ngIf="mobile.errors?.pattern ">
              Please Enter a valid Mobile Number
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Email Id field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Email ID</mat-label>
          <input matInput name="email" pattern="^[a-z0-9._%+-]+@atos.net" type="email" [(ngModel)]="user.emailId"
            #email="ngModel" required>
          <mat-error>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">

              <div *ngIf="email.errors?.required">
                Email is required.
              </div>

              <div *ngIf="email.errors?.pattern">
                Please enter official email Id
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Password field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#/\$%\^\&*_=+-])[a-zA-Z0-9!@#/\$%\^\&*_=+-]+$"
            minlength="8" maxlength="12" name="password" [(ngModel)]="user.Password" #password="ngModel" required>
          <mat-error>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">

              <div *ngIf="password.errors?.required">
                Password is required.
              </div>

              <div *ngIf="password.errors?.pattern">
                Password must contain at least 1 Uppercase,
                At least 1 Lowercase,
                At least 1 Number,
                At least 1 special character, Min 8 characters and Max 12 characters
              </div>

            </div>
          </mat-error>

        </mat-form-field>

        <!--mat-form-field tag is used for Confirm Password field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput minlength="8" maxlength="10" name="cpassword" [(ngModel)]="user.cPassword"
            #cpassword="ngModel" required>
          <mat-error>
            <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)" class="alert">

              <div *ngIf="cpassword.errors?.required">
                Confirm Password is required.
              </div>

            </div>
          </mat-error>

        </mat-form-field>

        <!--mat-form-field tag is used for Reporting Manager field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Reporting Manager</mat-label>
          <input matInput name="reportingManager" pattern="[a-zA-Z ]*" [(ngModel)]="user.reportingManager"
            #reportingManager="ngModel" required>
          <mat-error>
            <div *ngIf="reportingManager.invalid && (reportingManager.dirty || reportingManager.touched)" class="alert">

              <div *ngIf="reportingManager.errors?.required">
                Reporting Manager's Name is required.
              </div>
              <div *ngIf="reportingManager.errors?.pattern">
                Please enter valid Reporting Manager's Name
              </div>
            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Project Name field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Project Name</mat-label>
          <input matInput name="projectName" [(ngModel)]="user.projectName" #projectName="ngModel" required>
          <mat-error>
            <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="alert">

              <div *ngIf="projectName.errors?.required">
                Project Name is required.
              </div>

            </div>
          </mat-error>
        </mat-form-field>

        <!--mat-form-field tag is used for Domain Type DropDown field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Domain Type</mat-label>
          <mat-select name="typeOfDomain" [(ngModel)]="user.typeOfDomain" required>
            <mat-option *ngFor="let domain of typeOfDomain " [value]="domain.value">
              {{domain.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--mat-form-field tag is used for Job Role field-->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Job Role</mat-label>
          <input matInput name="jobRole" pattern="[a-zA-Z ]*" [(ngModel)]="user.jobRole" #jobRole="ngModel" required>
          <mat-error>
            <div *ngIf="jobRole.invalid && (jobRole.dirty || jobRole.touched)" class="alert">

              <div *ngIf="jobRole.errors?.required">
                Job Role is required.
              </div>
              <div *ngIf="jobRole.errors?.pattern">
                Please enter valid Job Role
              </div>
            </div>
          </mat-error>
        </mat-form-field>

      </form>

      <!--button tag is used to Submit the Data and redirect to Sign In page-->
      <button class="button" color="primary" [disabled]="!signUp.valid" (click)="registration()"
        mat-raised-button>Submit</button>

      <mat-divider [inset]="true"></mat-divider><br><br>
      <mat-label class="acc">Already have an Account? </mat-label>
      <!--anchor tag is used to redirect to SignIn page-->
      <a class="color" routerLink="/signin">Sign in </a>
      <br><br>

    </mat-card-content>
  </mat-card>

  <!--After clicking on Submmit till it redirect's to Sign In page, Spinner will be actiavted-->
  <mat-spinner [diameter]="100" class="loader" *ngIf="showSpinner" color="accent"></mat-spinner>

</div>

</html>