<html lang="en" class="main">
<div>
<body class="jumbotron">
<mat-toolbar color="primary" class="size">
<img class="imagenav" src="./assets/logo.png">
<span class="spacer">Leave Tracker</span>
<button class="home" mat-menu-item routerLink="/list">
<mat-icon style="color: white;">home</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
<mat-icon>more_vert</mat-icon>
</button>
<mat-menu class="contact" #menu="matMenu">
<button mat-menu-item routerLink="/applyleave">
<mat-icon>AL</mat-icon>
<span>Apply Leave</span>
</button>
<button mat-menu-item routerLink="">
<mat-icon>logout</mat-icon>
<span>Logout</span>
</button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
</body>

<br><br><br>

<form [formGroup]="editCustomer" autocomplete="off">
<mat-card class="card">
<mat-card-header>
<img class="image" src="./assets/edit.png">
</mat-card-header>

<form class="field">
<mat-form-field class="fieldd" appearance="fill">
<mat-label>Das ID</mat-label>
<input matInput name="dasId" [(ngModel)]="emp.empid" readonly #dasId="ngModel">
</mat-form-field>
</form>

<mat-form-field class="field" appearance="fill">
<mat-label>Employee ID</mat-label>
<input matInput formControlName="employeeId" readonly>
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Name</mat-label>
<input matInput placeholder="Enter your name" formControlName="name" required>

<!-- <mat-error>
<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

<div *ngIf="name.errors?.required">
Name is required.
</div>

</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>GCM Level</mat-label>
<input matInput formControlName="gcmLevel" required>
<!-- <mat-error>
<div *ngIf="gcmLevel.invalid && (gcmLevel.dirty || gcmLevel.touched)" class="alert">

<div *ngIf="gcmLevel.errors?.required">
GCM Level is required.
</div>
</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Contact No</mat-label>
<input matInput formControlName="mobile" required>
<!-- <mat-error>
<div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert">

<div *ngIf="mobile.errors?.required">
Mobile no. is required.
</div>

</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Email ID</mat-label>
<input matInput formControlName="email" required>
<!-- <mat-error>
<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">

<div *ngIf="email.errors?.required">
Email is required.
</div>

<div *ngIf="email.errors?.pattern">
Please enter valid email Id
</div>
</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Reporting Manager</mat-label>
<input matInput formControlName="reportingManager" required>
<!-- <mat-error>
<div *ngIf="reportingManager.invalid && (reportingManager.dirty || reportingManager.touched)" class="alert">

<div *ngIf="reportingManager.errors?.required">
Reporting Manager's Name is required.
</div>

</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Project Name</mat-label>
<input matInput formControlName="projectName" required>
<!-- <mat-error>
<div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="alert">

<div *ngIf="projectName.errors?.required">
Project Name is required.
</div>

</div>
</mat-error> -->
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Domain Type</mat-label>
<mat-select formControlName="typeOfDomain">
<mat-option *ngFor="let domain of typeOfDomain " [value]="domain.value">
{{domain.viewValue}}
</mat-option>
</mat-select>
</mat-form-field>

<mat-form-field class="field" appearance="fill">
<mat-label>Job Role</mat-label>
<input matInput formControlName="jobRole" required >
<!-- <mat-error>
<div *ngIf="jobRole.invalid && (jobRole.dirty || jobRole.touched)" class="alert">

<div *ngIf="jobRole.errors?.required">
Job Role is required.
</div>

</div>
</mat-error> -->
</mat-form-field>

<mat-card-actions>
<button class="button" style="margin-left: 46.5%;" color="primary" (click)="edit()"
mat-raised-button>Update</button>
</mat-card-actions>

<br><br>

</mat-card>
</form>

<mat-spinner [diameter]="100" class="loader" *ngIf="showSpinner" color="accent"></mat-spinner>

</div>
</html>